@model List<Category>
<div class="list-group">
                      <a href="/products" class="list-group-item list-group-item-action">Tüm Kategoriler</a>
                       @foreach (var item in Model)
                      {
                         <a asp-controller="book" 
                         asp-action="list"
                          asp-route-category="@item.Url"       
                      class="list-group-item list-group-item-action @(ViewBag.SelectedCategory == @item.Url?"active":"")">
                      @item.Name
                      </a>                  
                      }
                  </div> 
                  
                  @*routuyi category olarak tanımladık startupta o yüzden id değilde category yazıyor *@  